name: GitHub Actions Demo
on: 
  push:
    branches:
      - main
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm --version
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Unit test
        run: npm test-unit